@using CVMVC.Web.Models.Entity
@model List<Experiences>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">TITLE</th>
                        <th scope="col">SUBTITLE</th>
                        <th scope="col">DATE</th>
                        <th scope="col">DELETE</th>
                        <th scope="col">UPDATE</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.title</td>
                            <td>@item.subtitle</td>
                            <td>@item.date</td>
                            <td>
                                <a href="/Experience/DeleteExperience/@item.ID" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                    delete
                                </a>
                            </td>
                            <td>
                                <a href="/Experience/UpdateExperience/@item.ID" class="btn btn-primary">
                                    <i class="fas fa-pencil-alt"></i>
                                    edit
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <a href="/Experience/AddExperience/" class="btn btn-primary">
        <i class="fas fa-plus" style="color: #ffffff;"></i>
    </a>

</div>

